@page "/quizedetail/{quizeId}"
@inherits QuizeDetailBase


<h1 class="page-title">Details for Quize @Quize.Name </h1>


<div class="col-12 row">
  <div class="col-1">

  </div>
  <div class="col-11 row">
    <div class="col-xs-12 col-sm-8">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Quize Id</label>
        <div class="col-sm-8">
          <label type="text" readonly class="form-control-plaintext">@Quize.Id</label>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Description</label>
        <div class="col-sm-8">
          <label type="text" class="form-control-plaintext">@Quize.Description</label>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Questions count </label>
        <div class="col-sm-8">
          <label type="text" class="form-control-plaintext">@Quize.Questions?.Count</label>
        </div>
      </div>

      @*<div class="form-group row">
          <label class="col-sm-4 col-form-label">Smoker</label>
          <div class="col-sm-8">

            @if (Quize.Smoker)
            {
              <label type="text" readonly class="form-control-plaintext">Yes</label>
            }
            else
            {
              <label type="text" readonly class="form-control-plaintext">No</label>

            }
          </div>
        </div>*@

    </div>
  </div>
</div>